# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
!jupyter nbextension enable --py gmaps

# Import API key
from api_keys import g_key

# Configure gmaps with API key
gmaps.configure(api_key=g_key)

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [32]:
weather_data_df = pd.read_csv('output_data/weather_data_df.csv')
# weather_data_df.rename(columns={"Wind Speed": "Wind_Speed"})

# df.rename(columns={"A": "a", "B": "c"})
weather_data_df.head()

,City,Cloudiness,Country,Date,Humidity,Max_Temp,Lat,Lng,Wind_Speed
0,Busselton,43,AU,1587261971,67,18.89,-33.65,115.33,9.71
1,Puerto Ayora,16,EC,1587261877,88,26.67,-0.74,-90.35,1.79
2,Rikitea,60,PF,1587261972,69,25.35,-23.12,-134.97,3.70
3,Geraldton,75,AU,1587261972,78,23.00,-28.77,114.60,5.70
4,Salalah,40,OM,1587261888,74,27.00,17.02,54.09,2.10

In [33]:
weather_data_df.count()

City          580
Cloudiness    580
Country       575
Date          580
Humidity      580
Max_Temp      580
Lat           580
Lng           580
Wind_Speed    580
dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [34]:
# HINT: be sure to handle NaN values
weather_data_df = weather_data_df.dropna()

lat_lng = weather_data_df[['Lat', 'Lng']].astype(float)

# Fill NaN values and convert to float
humid = weather_data_df["Humidity"]

In [49]:
# Plot Heatmap
fig = gmaps.figure(center=(0, 0), zoom_level=2)

# Plot Heatmap
heat_layer = gmaps.heatmap_layer(lat_lng, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)


# Add heat layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
data = weather_data_df[(weather_data_df["Max_Temp"] > 0)]
data.head()

,City,Cloudiness,Country,Date,Humidity,Max_Temp,Lat,Lng,Wind_Speed
0,Busselton,43,AU,1587261971,67,18.89,-33.65,115.33,9.71
1,Puerto Ayora,16,EC,1587261877,88,26.67,-0.74,-90.35,1.79
2,Rikitea,60,PF,1587261972,69,25.35,-23.12,-134.97,3.70
3,Geraldton,75,AU,1587261972,78,23.00,-28.77,114.60,5.70
4,Salalah,40,OM,1587261888,74,27.00,17.02,54.09,2.10

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [40]:
# Narrow down the DataFrame to find ideal weather condition for vacation
# A max temperature lower than 29 degrees but higher than 20.

# Create criteria for the perfect vacation climate
expected_temperature = (weather_data_df.Max_Temp > 20) & (weather_data_df.Max_Temp < 29)
expected_windSpeed = weather_data_df.Wind_Speed < 11
expected_cloudiness = weather_data_df.Cloudiness == 0
ideal_weather = expected_temperature & expected_windSpeed & expected_cloudiness 

# Use boolean indexing to filter the weather_df dataframe
ideal_weather_df = weather_data_df[ideal_weather]
ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df = ideal_weather_df.reset_index()
ideal_weather_df.head()

,index,City,Cloudiness,Country,Date,Humidity,Max_Temp,Lat,Lng,Wind_Speed
0,95,Beloha,0,MG,1587261985,83,20.50,-25.17,45.05,4.78
1,106,Barra Patuca,0,HN,1587261986,79,26.89,15.80,-84.28,6.40
2,153,Beruwala,0,LK,1587261993,76,28.86,6.48,79.98,1.78
3,167,Celestún,0,MX,1587261995,79,27.75,20.87,-90.40,6.83
4,232,Arlit,0,NE,1587261824,12,27.44,18.74,7.39,3.22

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [41]:

hotel_df = ideal_weather_df

# Add column for Hotel Name - Note that we used "" to specify initial entry.
hotel_df['Hotel Name'] = ""
# hotel_df.drop(columns=["Hotel_Name"])
hotel_df.head(20)

,index,City,Cloudiness,Country,Date,Humidity,Max_Temp,Lat,Lng,Wind_Speed,Hotel Name
0,95,Beloha,0,MG,1587261985,83,20.50,-25.17,45.05,4.78,
1,106,Barra Patuca,0,HN,1587261986,79,26.89,15.80,-84.28,6.40,
2,153,Beruwala,0,LK,1587261993,76,28.86,6.48,79.98,1.78,
3,167,Celestún,0,MX,1587261995,79,27.75,20.87,-90.40,6.83,
4,232,Arlit,0,NE,1587261824,12,27.44,18.74,7.39,3.22,
5,265,Ladário,0,BR,1587262009,54,20.23,-19.00,-57.60,0.91,
6,334,West Bay,0,KY,1587261743,76,27.78,19.37,-81.42,3.50,
7,375,Mayahi,0,NE,1587262026,15,23.99,13.96,7.67,2.64,
8,414,Bodden Town,0,KY,1587262031,75,27.78,19.28,-81.25,1.34,
9,496,Pisco,0,PE,1587262042,77,21.00,-13.70,-76.22,6.20,
10,521,Xingyi,0,CN,1587262046,21,23.47,24.19,102.82,5.21,
11,522,Khanbari,0,NP,1587262046,30,24.31,27.37,87.20,1.71,
12,534,Bereket,0,TM,1587262048,39,20.58,39.24,55.52,3.43,
13,556,Sokoto,0,NG,1587262051,13,25.96,13.06,5.24,2.58,

In [42]:
# find the closest hotel 

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "Hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from hotel_df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    # print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()

    # extract results
    results = response['results']
#     print(results)
    try:
            print(f"Closest hotel is {results[0]['name']}.")

            hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
                  
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Closest hotel is The Eden Resort & Spa.
------------
Closest hotel is Playa 55 beach escape.
------------
Closest hotel is Hôtel Telwa Bungalow.
------------
Closest hotel is Pousada Corumbá Center.
------------
Closest hotel is Iron Shore Guest House.
------------
Missing field/result... skipping.
------------
Closest hotel is Turtle Nest Inn & Condos.
------------
Closest hotel is Hotel San Jorge Residencial.
------------
Missing field/result... skipping.
------------
Closest hotel is Hotel Barun Sankhuwasabha.
------------
Missing field/result... skipping.
------------
Closest hotel is Grand Ibro Hotel.
------------

In [43]:

hotel_df

,index,City,Cloudiness,Country,Date,Humidity,Max_Temp,Lat,Lng,Wind_Speed,Hotel Name
0,95,Beloha,0,MG,1587261985,83,20.50,-25.17,45.05,4.78,
1,106,Barra Patuca,0,HN,1587261986,79,26.89,15.80,-84.28,6.40,
2,153,Beruwala,0,LK,1587261993,76,28.86,6.48,79.98,1.78,The Eden Resort & Spa
3,167,Celestún,0,MX,1587261995,79,27.75,20.87,-90.40,6.83,Playa 55 beach escape
4,232,Arlit,0,NE,1587261824,12,27.44,18.74,7.39,3.22,Hôtel Telwa Bungalow
5,265,Ladário,0,BR,1587262009,54,20.23,-19.00,-57.60,0.91,Pousada Corumbá Center
6,334,West Bay,0,KY,1587261743,76,27.78,19.37,-81.42,3.50,Iron Shore Guest House
7,375,Mayahi,0,NE,1587262026,15,23.99,13.96,7.67,2.64,
8,414,Bodden Town,0,KY,1587262031,75,27.78,19.28,-81.25,1.34,Turtle Nest Inn & Condos
9,496,Pisco,0,PE,1587262042,77,21.00,-13.70,-76.22,6.20,Hotel San Jorge Residencial
10,521,Xingyi,0,CN,1587262046,21,23.47,24.19,102.82,5.21,
11,522,Khanbari,0,NP,1587262046,30,24.31,27.37,87.20,1.71,Hotel Barun Sankhuwasabha
12,534,Bereket,0,TM,1587262048,39,20.58,39.24,55.52,3.43,
13,556,Sokoto,0,NG,1587262051,13,25.96,13.06,5.24,2.58,Grand Ibro Hotel

In [44]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
marker_locations = locations

In [45]:
# Convert poverty rate as a list
# Convert bank rate to list
hotel_name = hotel_df["Hotel Name"].tolist()

In [46]:



# # Create a marker_layer using the poverty list to fill the info box
# fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Hotel: {name}" for name in hotel_name])
fig.add_layer(markers)
fig

# # Create a map using state centroid coordinates to set markers
# marker_locations = census_data[['Latitude', 'Longitude']]

# # Create a marker_layer using the poverty list to fill the info box
# fig = gmaps.figure()
# markers = gmaps.marker_layer(marker_locations,
#     info_box_content=[f"Poverty Rate: {rate}" for rate in poverty_rate])
# fig.add_layer(markers)
# fig

Figure(layout=FigureLayout(height='420px'))